on:
  release:
    types: [published]

permissions:
  contents: read
  packages: write

jobs:
  publish-release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Set up JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "17"

      - name: Build AAR
        run: ./gradlew assembleRelease

      - name: Publish artifact
        run: ./gradlew --stacktrace publish
        env:
          GITHUB_USER: inoles
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
